@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
root {
  --primary-color: rgba(211, 15, 9, 0.973);
}

body {
  background: #f5eded;
  margin: 0;
  font-family: "Roboto Slab";
}

.navbar {
  background: white;
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.5em;
}

.navbar .logo span {
  color: rgba(235, 17, 10, 0.993);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: center;
}

.left-col .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  letter-spacing: .3em;
}

.left-col h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: .2em;
}

.left-col h1 .correct {
  color: rgba(211, 15, 9, 0.973);
}

.left-col .tagline {
  font-weight: bold;
  font-size: 2em;
  color: #4e2020;
}

.left-col .tagline .english {
  font-size: 1em;
}

.left-col .primary-cta {
  background: rgba(211, 15, 9, 0.973);
  color: white;
  text-decoration: none;
  padding: .6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
}

.hero-img {
  width: 30%;
  margin-top: 3em;
}

section.features-section {
  background: #4e2020;
  color: white;
}

ul.features-list {
  margin: 0;
  padding-left: .1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}

ul.features-list li {
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
}

ul.features-list li:before {
  content: '';
  left: -2em;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../bullet.png");
  background-size: contain;
  margin-right: .5em;
}

.features-section-img {
  display: none;
}

h2 {
  font-size: 2em;
  color: rgba(211, 15, 9, 0.973);
}

.extra {
  font-size: 1.2em;
}

@media only screen and (min-width: 950px) {
  .container {
    width: 950px;
    margin: 0 auto;
  }
  .navbar .container {
    text-align: left;
    margin-left: 0;
    padding-left: 0;
  }
  section {
    padding: 7em 4em;
  }
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .hero .container .left-col h1 {
    font-size: 3em;
    width: 90%;
  }
  .hero-img {
    width: 50%;
    margin-right: -5em;
    margin-left: 10em;
  }
  ul.features-list {
    display: block;
    margin-left: 2em;
  }
  ul.features-list li {
    font-size: 1.5em;
  }
  ul.features-list li:before {
    width: 30px;
    height: 30px;
  }
  .features-section {
    position: relative;
  }
  .features-section .features-section-img {
    display: block;
    position: absolute;
    right: 0;
    width: 350px;
    bottom: -2em;
  }
  .ending .container .contact {
    text-align: left;
    padding-left: -20em;
    margin-left: 0;
    padding-top: -20em;
  }
}

@media only screen and (min-width: 1080px) {
  .features-section:before {
    content: '';
    position: absolute;
    width: 10%;
    height: 20em;
    background: rgba(211, 15, 9, 0.973);
    left: 0;
    top: -4em;
  }
  .features-section:after {
    content: '';
    position: absolute;
    width: 12%;
    height: 21%;
    background: url('../003.png')no-repeat;
    left: 5em;
    top: 1em;
  }
}
/*# sourceMappingURL=main.css.map */
